body {
  background-color:beige;
  text-align:center;
}

table th, td {
  border: 2px solid black;
  font-family:Verdana;
  width:33%;
}

h1 {
  font-size:36px;
  font-weight:500;
  font-family:verdana;
}

h2 {
  font-size:30px;
  font-weight:500;
  font-family:verdana;
}

h3 {
  font-size:24px;
  font-weight:500;
  font-family:verdana;
}

h4 {
  font-size:18px;
  font-weight:500;
  font-family:verdana;
}

h5 {
  font-size:14px;
  font-weight:500;
  font-family:verdana;
}

h6 {
  font-size:11px;
  font-weight:500;
  font-family:verdana;
}

p {
  font-size:12px;
  font-weight:500;
  font-family:verdana;
}

b {
  font-size:12px;
  font-weight:bold;
  font-family:verdana;
}

kbd {
  font-size:12px;
  font-weight:12px;
  font-family: 'Courier New', monospace;
}
